@use "../styles/variables.sass" as *

.button
    font-family: "futura-pt", system-ui, Avenir, Helvetica, Arial, sans-serif
    font-size: $font-size-small
    background-color: transparent
    border: 2px solid black
    color: black
    min-width: 160px
    max-width: 300px
    padding: 15px 40px
    text-align: center
    text-decoration: none
    display: inline-block
    margin: 20px 2px
    cursor: pointer
    border-radius: 8px
    justify-self: flex-end
    align-self: flex-end
    &:hover
        background-color: black
        border: 2px solid black
        color: white !important
    a
        color: inherit

@media only screen and (max-width: 768px)
    .button
        font-size: $font-size-tiny
        min-width: 120px
        max-width: 200px
        padding: 10px 20px
        margin: 10px 2px
        border-radius: 5px