@use "../styles/variables.sass" as *
    
nav
    ul
        li
            a.inactive
                text-decoration: none
                color: #000
                font-size: $font-size-medium
                font-weight: $font-weight-bold
                &:hover
                    color: #f00
                &:focus
                    color: #000
            a.active
                color: $box-secondary-color
                text-decoration: underline
                font-size: $font-size-medium
                font-weight: 600
                &:hover
                    color: #f00
                &:focus
                    color: $box-secondary-color


    