@use "../styles/variables.sass" as *
    
.navigationBar 
    ul
        margin: 40px auto
        width: 50vw
        display: flex
        justify-content: space-between
        li
            list-style: none
            a
                text-decoration: none
                color: #000
                font-size: $font-size-medium
                font-weight: $font-weight-bold
                &:hover
                    color: #f00
                &:focus
                    color: #000
            a.active
                color: $box-secondary-color
                text-decoration: underline
                font-size: $font-size-medium
                font-weight: 600
                &:hover
                    color: #f00
                &:focus
                    color: $box-secondary-color

@media only screen and (max-width: 1080px)
    .navigationBar 
        ul 
            width: 70vw
            li a, 
            li a.active, 
            li a:hover,
            li a:focus
                font-size: $font-size-small


    