.footer
    background-color: #333
    display: flex
    justify-content: space-around
    color: white
    text-align: center
    padding: 10px
    position: fixed
    left: 0
    bottom: 0
    width: 100%
    padding-top: 20px
    .socialMediaIcons
        display: flex
        justify-content: space-around
        width: 200px
        figure img.facebookLogo 
                transform: translateY(-2px)
    a
        color: white
        text-decoration: none
        &:hover
            color: #f00