@use "../styles/variables.sass" as *

@mixin flex-column-center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.mobileMenu
    position: fixed
    @include flex-column-center
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background-color: $text-color
    z-index: 500
    transition: left 0.5s

.mobileMenuClosed
    position: fixed
    @include flex-column-center
    top: 0
    left: -100vw
    width: 100vw
    height: 100vh
    background-color: $text-color
    z-index: 500
    transition: left 0.5s