@use "../styles/variables.sass" as *

@mixin flex-column-center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.mobileMenu
    position: fixed
    @include flex-column-center
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background-color: $text-color
    z-index: 500
    transition: left 0.5s
    ul
        list-style-type: none
        padding: 0
        margin: 0
        height: 60vh
        width: 70vw
        display: grid
        grid-template-rows: repeat(5, 1fr)
        grid-template-columns: 1fr
        li
            justify-self: center
            align-self: center
            font-size: $font-size-large
            text-align: center
            cursor: pointer
            a
                color: $box-primary-color
                text-decoration: none
                &:hover
                    color: $text-color
                    text-decoration: underline

.mobileMenuClosed
    position: fixed
    @include flex-column-center
    top: 0
    left: -100vw
    width: 100vw
    height: 100vh
    background-color: $text-color
    z-index: 500
    transition: left 0.5s