@use "../styles/variables.sass" as *

@mixin flex-column-center
  display: flex
  flex-direction: column
  align-items: center

.heroSection 
    min-height: 600px
    height: 600px
    background-color: $box-primary-color
    color: $text-color
    article
        padding: 0 80 0 20

.blogSection 
    .blogArticle
        background-color: $box-primary-color
        color: $text-color
        h2
            font-size: $font-size-medium

@media only screen and (max-width: 1439px)
    .cards
        .cardsItems
            width: 90vw
            display: grid
            grid-template-columns: 1fr 1fr
            grid-template-row: 1fr 1fr
            justify-items: center

@media only screen and (max-width: 1080px)
    .heroSection
        flex-direction: column
        max-height: none
        padding-bottom: 20px
        article
            text-align: center
            padding: 0 20px
            align-items: center
            h1
                margin: 20px
            p
                max-width: 80vw
                margin-bottom: 20px
        figure img
            width: 100vw
            max-height: 400px
            object-fit: cover
            object-position: 50% 30%
    .cards
        .cardsItems
            width: 90vw
            display: grid
            grid-template-columns: 1fr 1fr
            grid-template-row: 1fr 1fr
            justify-items: center
    .blogSection
        h1
            font-size: $font-size-large
        .blogArticle
            flex-direction: column-reverse
            align-items: center
            h2
                text-align: center
                max-width: 300px
            .articleContent
                padding: 20px
                align-items: center
                max-width: 80%
            figure img
                width: 100vw
                max-height: 500px

@media only screen and (max-width: 768px)
    .heroSection
        flex-direction: column
        padding-bottom: 20px
        article
            text-align: center
            padding: 0 20px
            align-items: center
            h1
                font-size: $font-size-large
                margin: 20px
            p
                max-width: 80%
                margin-bottom: 20px
        figure img
            width: 100vw
            max-height: 240px
            object-fit: cover
    .cards
        h1
            font-size: $font-size-large
        .cardsItems
            width: 90vw
            display: grid
            grid-template-columns: 1fr 1fr
            grid-template-row: 1fr 1fr
            justify-items: center
    .blogSection
        margin-bottom: 0
        max-height: none
        h1
            font-size: $font-size-large
        .blogArticle
            flex-direction: column-reverse
            align-items: center
            h2
                text-align: center
                max-width: 300px
            .articleContent
                padding: 20px
                align-items: center
                max-width: 80%
            figure img
                width: 100vw
                max-height: 500px

@media only screen and (max-width: 480px)
    .cards .cardsItems
        width: 90vw
        @include flex-column-center
        justify-content: flex-start


    