.heroSection
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #f0f0f0
    color: #333
    font-weight: 700
    max-height: 600px
    overflow: hidden
    width: 100vw
    article
        text-align: right
        display: flex
        flex-direction: column
        align-items: flex-end
        padding: 0 80px 0 20px
        h1
            margin-bottom: 20px
        p
            max-width: 600px
            font-weight: 400
    figure img
        width: 50vw
        max-height: 1000px

.cards
    margin: 40px 0
    display: flex
    flex-direction: column
    align-items: center 
    .cardsItems
        display: flex
        width: 80vw
        flex-direction: row
        justify-content: space-around
        flex-wrap: wrap
        margin: 40px auto

.blogSection 
    display: flex
    flex-direction: column
    justify-content: center
    background-color: white
    width: 100vw
    max-height: 800px
    margin-bottom: 120px
    h1
        text-align: center
        margin: 40px 0 20px
    .blogArticle 
        display: flex
        justify-content: space-between
        color: #333
        background-color: #f0f0f0
        font-weight: 700
        text-align: center
        h2
            font-size: 1.7rem
            text-align: left
            max-width: 680px
            margin-bottom: 20px
        .articleContent
            display: flex
            flex-direction: column
            justify-content: center
            align-items: flex-start
            padding: 20px 80px
            text-align: left
            p
                max-width: 680px
                font-weight: 400
            .button
                align-self: flex-start
        figure img
            width: 50vw
            height: 100%

@media only screen and (max-width: 1440px)
    .cards
        .cardsItems
            width: 90vw
            display: grid
            grid-template-columns: 1fr 1fr
            grid-template-row: 1fr 1fr
            justify-items: center

@media only screen and (max-width: 1080px)
    .heroSection
        flex-direction: column
        max-height: none
        padding-bottom: 20px
        article
            text-align: center
            padding: 0 20px
            align-items: center
            h1
                margin: 20px
            p
                max-width: 80vw
                margin-bottom: 20px
        figure img
            width: 100vw
            max-height: 400px
            object-fit: cover
            object-position: 50% 30%
    .cards
        .cardsItems
            width: 90vw
            display: grid
            grid-template-columns: 1fr 1fr
            grid-template-row: 1fr 1fr
            justify-items: center
    .blogSection
        max-height: none
        h1
            font-size: 2rem
        .blogArticle
            flex-direction: column-reverse
            align-items: center
            h2
                text-align: center
                max-width: 300px
            .articleContent
                padding: 20px
                align-items: center
                max-width: 80%
            figure img
                width: 100vw
                max-height: 500px

@media only screen and (max-width: 768px)
    .heroSection
        flex-direction: column
        max-height: none
        padding-bottom: 20px
        article
            text-align: center
            padding: 0 20px
            align-items: center
            h1
                font-size: 2.2rem
                margin: 20px
            p
                max-width: 80%
                margin-bottom: 20px
        figure img
            width: 100vw
            max-height: 240px
            object-fit: cover
    .cards
        h1
            font-size: 2.5rem
        .cardsItems
            display: flex
            flex-direction: column
            width: 90vw
            flex-direction: column
            align-items: center
    .blogSection
        margin-bottom: 0
        max-height: none
        h1
            font-size: 2rem
        .blogArticle
            flex-direction: column-reverse
            align-items: center
            h2
                text-align: center
                max-width: 300px
            .articleContent
                padding: 20px
                align-items: center
                max-width: 80%
            figure img
                width: 100vw
                max-height: 500px


   