.heroSection
    display: flex
    justify-content: center
    align-items: center
    background-color: #f0f0f0
    color: #333
    font-weight: 700
    text-align: center
    figure img
        max-width: 600px
        max-height: 600px

.cards
    max-width: 1200px
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    margin: 40px auto

.blogSection article 
    margin-top: 40px
    display: flex
    justify-content: space-around
    background-color: #f0f0f0
    color: #333
    font-weight: 700
    text-align: center
    .articleContent
        display: flex
        flex-direction: column
        justify-content: center
    figure img
        max-width: 600px
        max-height: 600px
   