@use "../styles/variables.sass" as *

@mixin grid-layout($picture-field-size: minmax(200px, 400px))
    display: grid
    grid-template-rows: auto auto auto $picture-field-size 1fr auto

@mixin img-size($height: 400px)
    width: 100%
    height: $height
    object-fit: cover
    object-position: center
    
main
    padding-bottom: 40px
    .postSection
        .postArticle
            @include grid-layout
            width: 70%
            margin: 0 auto 120px  
            color: $text-color
            background-color: $box-primary-color
            h1
                width: 70%
                grid-row: 1 / 2
                margin: 40px auto 0
                font-size: $font-size-large
                text-align: center     
            time
                grid-row: 2 / 3
                font-size: $font-size-small
                text-align: center
                margin-top: 6px
            h2
                grid-row: 3 / 4
                text-align: center
                margin-bottom: 20px
            address
                display: inline
            button
                grid-row: 6 / 7
                margin: 40px 5vw
            .articlePicture
                grid-row: 4 / 5
                img
                    @include img-size
            .postContent
                grid-row: 5 / 6
                padding: 20px 0
                width: 70%
                text-align: left
                margin: 20px auto 40px
                ul
                    list-style: none

@media only screen and (max-width: 1080px)
    main
        .postSection 
            .postArticle
                @include grid-layout($picture-field-size: 240px)
                width: 80%
                h1
                    font-size: $font-size-large
                time
                    font-size: $font-size-medium
                h2
                    font-size: $font-size-small
                .articlePicture img
                    @include img-size($height: 240px)

@media only screen and (max-width: 768px)
    main
        padding-bottom: 0
        .postSection
            .postArticle
                @include grid-layout($picture-field-size: 240px)
                width: 100vw
                margin: 0
                justify-items: center
                h1
                    font-size: $font-size-small
                    margin: 20px 0 0
                    width: 90vw
                time
                    font-size: $font-size-tiny
                    margin-top: 4px
                h2
                    font-size: $font-size-tiny
                button
                    margin: 40px 10vw
                .articlePicture
                    height: 200px
                    img
                        max-width: 90vw
                .postContent
                    padding: 12px 20px 40px
                    ul
                        list-style: none
                        padding: 0
                        li
                            margin-bottom: 20px